<div #mainDiv>
    <div >
        <div>
            <h2>Recommend playlists</h2>
            <div class="flex flex-row overflow-x-auto w-full">
                @for (playlist of recommendedPlaylists.slice(0, calculateDisplayedItems()); track $index) {
                <div>
                    <playlist-card [playlist]="playlist" [width]="widthPerCard()"></playlist-card>
                </div>
                }
            </div>
        </div>
        <div>
            <h2>Top 100 playlists</h2>
            <div class="flex flex-row overflow-x-auto w-full">
                @for (playlist of top100Playlists.slice(0, calculateDisplayedItems()); track $index) {
                <div>
                    <playlist-card [playlist]="playlist" [width]="widthPerCard()"></playlist-card>
                </div>
                }
            </div>
        </div>
        <div>
            <h2>Popular Albums</h2>
            <div class="flex flex-row overflow-y-hidden overflow-x-auto w-full">
                @for (album of popularAlbums.slice(0, 7); track $index) {
                <div>
                    <album-card [album]="album" [width]="widthPerCard()"></album-card>
                </div>
                }
            </div>
        </div>
        <div>
            <h2>Popular Artists</h2>
            <div class="flex flex-row overflow-x-auto w-full">
                @for (artist of popularArtists.slice(0, 7); track $index) {
                <div>
                    <artist-card [artist]="artist" [width]="widthPerCard()"></artist-card>
                </div>
                }
            </div>
        </div>
    </div>
  </div>
