<div>
    <div>
        <h2>Popular Albums</h2>
        <div class="flex flex-row gap-3 overflow-y-hidden overflow-x-auto w-full">
            @for (album of popularAlbums.slice(0, 7); track $index) {
            <div>
                <album-card [album]="album"></album-card>
            </div>
            }
        </div>
    </div>
    <div>
        <h2>Popular Artists</h2>
        <div class="flex flex-row gap-3 overflow-x-auto w-full">
            @for (artist of popularArtists.slice(0, 7); track $index) {
            <div>
                <artist-card [artist]="artist"></artist-card>
            </div>
            }
        </div>
    </div>
</div>