@if (playlist?.name && playlist?.description && getImageUrl()) {
    <div 
    [style]="{ backgroundColor: 'transparent', color: 'white', borderRadius: '10px', padding: '5px'}"
    class="card-container w-15rem"
    (mouseenter)="onHover(true)" 
    (mouseleave)="onHover(false)">

    <img alt="{{ playlist.name }}" [src]="getImageUrl()" style="width: 100%; height: auto; border-radius: 10px;" />

    <div class="overlay-container">
        <button class="overlay-button"><i class="pi pi-play"></i>
        </button>
    </div>
   
    <h3 class="font-light m-0" style="display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">{{ playlist.name }}</h3>
    <h4 class="font-light text-gray-400 m-0 text-overflow-ellipsis"style="display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">{{ playlist.description }}</h4>

</div>
}

