<div class="container">
  <div>
    <p-progressBar
      [value]="stepProgress()"
      [showValue]="false"
      [style]="{ height: '0.1rem' }"
    />
  </div>
  <div class="text-container">
    <p-progressBar
      [value]="stepProgress()"
      [showValue]="false"
      [style]="{ height: '0.1rem' }"
    />
    <div class="go-back-icon" (click)="emitPreviousStep()">
      <i class="pi pi-chevron-left" style="font-size: 1.5rem"></i>
    </div>
    <div class="status">
      <span class="step-count">Step {{ currentStep() }} of 3</span>
      <span class="step-name">{{ stepName() }}</span>
    </div>
  </div>
</div>
