<div class="album-page">
  <div class="album-detail">
    <div class="album-info">
      <div class="album-cover">
        <img [src]="albumImageUrl">
      </div>
      <div class="album-description">
        <h2>{{ albumName }}</h2>
        <div class="album-title">
          <div class="artist-avatar">
            <img [src]="albumImageUrl">
          </div>
          <p>{{ artistName }} • {{ tracks.length }} songs, {{ trackTotalDuration }}</p>
        </div>
      </div>
    </div>
    <div class="topbar">
      <div class="topbar-columns">
        <div class="header-group">
          <span class="column-header"># &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title</span>
        </div>
        <span class="column-header">Duration</span>
      </div>
    </div>
    @for (track of tracks; track $index) {
      <track-card [track]="track" [index]="$index" [album]="albumID" [playlistTracks]="playingTrackIds"></track-card>
    }
  </div>
</div>
