/* Đảm bảo trang chiếm toàn bộ chiều cao */
<<<<<<< HEAD
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  
  /* Nav Bar - cố định ở trên cùng */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Chiều cao của nav bar */
    z-index: 1000; /* Đảm bảo nằm trên các thành phần khác */
  }
  
  /* Sign Up Bar - cố định ở dưới cùng */
  .sign-up-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px; /* Chiều cao của sign up bar */
    z-index: 1000; /* Đảm bảo nằm trên các thành phần khác */
  }

  .player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px; /* Chiều cao của sign up bar */
    z-index: 1000; /* Đảm bảo nằm trên các thành phần khác */
  }

  
=======
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
>>>>>>> profile-settings
