<div class="card">
  <p-contextMenu #cm [model]="contextMenu"/>
  <p-contextMenu #cmItem [model]="contextMenuItems"/>
  <p-menubar>
    <ng-template pTemplate="start">
      @if (!isInputVisible) {
      <p-button
        class="p-button-rounded"
        icon="pi pi-search"
        [text]="true"
        (click)="showInput()"
      />
      } @if (isInputVisible) {
      <p-inputGroup>
        <span class="p-inputgroup-addon">
          <i class="pi pi-search text-gray-400"></i>
        </span>
        <input
          pInputText
          pAutoFocus
          [autofocus]="true"
          [(ngModel)]="searchTerm"
          placeholder="Search"
          (blur)="hideInput()"
          class="p-inputtext-sm bg-gray-800 text-white rounded"
          (input)="performSearch()"
        />
      </p-inputGroup>
      }
    </ng-template>

    <ng-template pTemplate="end">
      <p-button
        [label]="selectedSortOption.label"
        [icon]="selectedViewOption.icon"
        [iconPos]="'right'"
        [text]="true"
        (onClick)="op.toggle($event)"
      />

      <p-overlayPanel #op>
        <div class="p-4 w-64 bg-gray-900 text-white rounded-md">
          <div>
            <p class="text-sm font-semibold mb-2 text-gray-400">Sort by</p>
            <p-listbox
              [options]="sortOptions"
              [(ngModel)]="selectedSortOption"
              optionLabel="label"
              class="bg-gray-800 text-white"
              (onChange)="sortItems()"
            >
              <ng-template let-option pTemplate="item">
                <div class="flex justify-between">
                  <span>{{ option.label }} </span>

                  @if (selectedSortOption.value === option.value) {
                  <i class="pi pi-check text-green-400"></i>
                  }
                </div>
              </ng-template>
            </p-listbox>
          </div>

          <hr class="my-4 border-gray-700" />

          <div>
            <p class="text-sm font-semibold mb-2 text-gray-400">Sort by</p>
            <p-listbox
              [options]="viewOptions"
              [(ngModel)]="selectedViewOption"
              optionLabel="label"
              class="bg-gray-800 text-white"
              (onChange)="changeView($event)"
            >
              <ng-template let-option pTemplate="item">
                <div class="flex items-center gap-2">
                  <i [ngClass]="option.icon"></i>
                  <span> {{ option.label }} </span>
                  @if (selectedViewOption.value === option.value) {
                  <i class="pi pi-check text-green-400"></i>
                  }
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </div>
      </p-overlayPanel>
    </ng-template>
  </p-menubar>
  @if (selectedViewOption.value === 'compact') {

  <div (contextmenu)="showMenu($event)">
    <p-scrollPanel [style]="{ width: '100%', height: height }">
      @for (item of filteredPlaylists; track $index) {
      <div (contextmenu)="showMenuItem($event, item)" class="flex flex-row p-fluid">
        <p-button [text]="true">
          <span> {{ item.title }} - {{ item.description }} </span>
        </p-button>
      </div>
      }
    </p-scrollPanel>
  </div>
  } @if (selectedViewOption.value !== 'compact') {
  <p-dataView
    #dv
    [value]="filteredPlaylists"
    [layout]="selectedViewOption.value"
    (contextmenu)="showMenu($event)"
  >
    <ng-template pTemplate="list">
      <div>
        <p-scrollPanel [style]="{ width: '100%', height: height }">
          @for (item of filteredPlaylists; track $index) {
          <div (contextmenu)="showMenuItem($event, item)" class="flex p-fluid">
            <p-button [text]="true">
              <p-image
                class="block border-round"
                [src]="item.cover"
                [alt]="item.title"
              />
              <div>
                <div class="">
                  {{ item.title }}
                </div>
                <div class="">{{ item.description }} - {{ item.creator }}</div>
              </div>
            </p-button>
          </div>

          }
        </p-scrollPanel>
      </div>
    </ng-template>

    <ng-template pTemplate="grid">
      <p-scrollPanel [style]="{ width: '100%', height: height }">
        @for (item of filteredPlaylists; track $index) {
        <p-button (contextmenu)="showMenuItem($event, item)" [text]="true">
          <div>
            <p-image [src]="item.cover" />
            <div>
              <div class="">
                {{ item.title }}
              </div>
              <div class="">{{ item.description }} - {{ item.creator }}</div>
            </div>
          </div>
        </p-button>
        }
      </p-scrollPanel>
    </ng-template>
  </p-dataView>
  }
</div>
