<div class="card">
  <p-dataView #dv [value]="products">
    <ng-template pTemplate="header">
      <div class="flex justify-end">
        <input pInputText />
        <p-button
          [label]="selectedSortOption.label"
          [icon]="selectedViewOption.icon"
          [iconPos]="'right'"
          [text]="true"
          (onClick)="op.toggle($event)"
        />

        <p-overlayPanel #op>
          <div class="p-4 w-64 bg-gray-900 text-white rounded-md">
            <div>
              <p class="text-sm font-semibold mb-2 text-gray-400">Sort by</p>
              <p-listbox
                [options]="sortOptions"
                [(ngModel)]="selectedSortOption"
                optionLabel="label"
                class="bg-gray-800 text-white"
              >
                <ng-template let-option pTemplate="item">
                  <div class="flex justify-between">
                    <!-- Hiển thị tên của tùy chọn -->
                    <span>{{ option.label }}</span>

                    <!-- Hiển thị biểu tượng nếu tùy chọn được chọn -->
                    @if (selectedSortOption.value === option.value) {
                    <i class="pi pi-check text-green-400"></i>
                    }
                  </div>
                </ng-template>
              </p-listbox>
              
            </div>

            <hr class="my-4 border-gray-700" />

            <div>
              <p class="text-sm font-semibold mb-2 text-gray-400">Sort by</p>
              <p-listbox
                [options]="viewOptions"
                [(ngModel)]="selectedViewOption"
                optionLabel="label"
                class="bg-gray-800 text-white"
                (onChange)="changeView($event)"
              >
              </p-listbox>
              <!-- <p-dataViewLayoutOptions/> -->

            </div>
          </div>
        </p-overlayPanel>

      </div>
    </ng-template>

    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12 flex flex-column">
          @for (item of products; track $index) {
          <div class="flex flex-column p-4 gap-3 p-fluid">
            <p-button [text]="true">
              <div class="md:w-10rem relative">
                <img
                  class="block xl:block mx-auto border-round w-full"
                  [src]="
                    'https://primefaces.org/cdn/primeng/images/demo/product/' +
                    item.image
                  "
                  [alt]="item.name"
                />
              </div>
              <div
                class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
              >
                <div
                  class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
                >
                  <div>
                    <span class="font-medium text-secondary text-sm">{{
                      item.category
                    }}</span>
                  </div>
                </div>
              </div>
            </p-button>
          </div>
          }
        </div>
      </div>
    </ng-template>

    <ng-template let-product pTemplate="grid" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12 sm:col-6 md:col-4 xl:col-6 p-2">
          @for (product of products; track $index) {
          <p-button>
            <div
              class="surface-50 flex justify-content-center border-round p-3 flex flex-col"
            >
              <div class="relative mx-auto">
                <img
                  class="border-round w-full"
                  [src]="
                    'https://primefaces.org/cdn/primeng/images/demo/product/' +
                    product.image
                  "
                  [alt]="product.name"
                  style="max-width: 300px"
                />
              </div>

              <div class="pt-4">
                <div
                  class="flex flex-row justify-content-between align-items-start gap-2"
                >
                  <div>
                    <span class="font-medium text-secondary text-sm">{{
                      product.category
                    }}</span>
                  </div>
                </div>
                <div class="flex flex-column gap-4 mt-4">
                  <span class="text-2xl font-semibold">{{
                    "$" + product.price
                  }}</span>
                </div>
              </div>
            </div>
          </p-button>
          }
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
