<div class="nav-bar">
    <nav>
        <img src="/public/spotify-icon.png" alt="" id="spotify-icon">
        <div class="nav-center">
            <a href="" class="nav-btn" id="home-button"></a>
            <div class="search-container" id="search-container">
                <button id="search-btn">
                    <img src="/public/search-icon.png" id="search-btn-icon">
                </button>
                <input type="text" placeholder="What do you want to play?" class="search-input" id="search-box"/>
            </div>
        </div>
        <div class="nav-right">
            <a href="sign-up" class="nav-btn" id="sign-up-btn">Sign Up</a>
            <a href="login" class="nav-btn" id="login-btn">Login</a>
        </div>
    </nav>
</div>