<div class="panel">
  <div class="library-title-bar">
    <div class="library-title">Your library</div>
    <div class="spacer"></div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      stroke="#b3b3b3"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-plus"
    >
      <line x1="12" y1="5" x2="12" y2="19"></line>
      <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
  </div>

  @if (showTooltip) {
  <div
    class="tooltip"
    (mouseenter)="showTooltip = true"
    (mouseleave)="showTooltip = false"
    [@openClose]="showTooltip ? 'open' : 'closed'"
  >
    <div class="title">Create a playlist</div>
    <div class="description">Log in to create and share playlists.</div>
    <div class="tooltip-actions">
      <button class="btn">Not now</button>
      <button class="btn-primary">Log in</button>
    </div>
  </div>
  }

  <div class="panel-body">
    <!-- playlist -->
    @if (playlist>0) {
    <app-playlist></app-playlist>
    } @if (playlist < 1) {

    <div class="section">
      <div class="section-title">Create your first playlist</div>
      <div class="section-description">It's easy, we'll help you</div>
      <button (click)="toggleTooltip()">Create playlist</button>
    </div>

    <div style="height: 20px"></div>

    <div class="section">
      <div class="section-title">Let's find some podcasts to follow</div>
      <div class="section-description">
        We'll keep you updated on new episodes
      </div>
      <button>Browse podcasts</button>
    </div>
    }
  </div>

  <div class="footer">
    <div class="option-wrapper">
      <div class="option">Legal</div>
      <div class="option">Safety & Privacy center</div>
      <div class="option">Privacy policy</div>
    </div>
    <div class="option-wrapper">
      <div class="option">Cookies</div>
      <div class="option">About Ads</div>
      <div class="option">Accessibility</div>
    </div>
    <div class="option-wrapper">
      <div class="option-special">Cookies</div>
    </div>
  </div>

  <div style="display: flex">
    <div class="language-button">
      <div class="language">English</div>
    </div>
  </div>

  <!-- <div style="height: 40px;"></div> -->
</div>
