@import "primeflex/primeflex.scss";

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.step-indicator {
  width: 27rem;
}

.login-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;

  & > * {
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
