body {
  background-color: #121212;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

@import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


@import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
