$content-padding: 0.5rem;

.home-page {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #000000;
}

.content {
  display: grid;
  padding: 0;
  grid-template-columns: auto 1fr;
  grid-gap: $content-padding;
}

.app-library-panel {
  margin-left: $content-padding;
}

.app-content {
  border-radius: 8px;
  background-color: #121212;
  margin-right: $content-padding;
}


.app-main-panel {
  background-color: #000000;
  border-radius: 8px;

  overflow-y: auto; // overflow for main-panel
  max-height: calc(100vh - 90px); // set max height for over-flow
}

.app-main-panel::-webkit-scrollbar {
  display: none;
}

.sign-up-bar {
  padding: $content-padding;
}
// hide scroll bar
