<div class="container">
  <div class="content-wrapper">
    <div class="header">
      <h1>Settings</h1>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
    </div>
    <div class="settings">
      <div class="setting">
        <div class="setting-label">
          <h3>Setting 1</h3>
        </div>
        <div class="setting-content">
          <div class="setting-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              recusandae animi cumque fugiat.
            </p>
          </div>
          <div class="setting-input">
            <button>Hehe</button>
          </div>
        </div>
      </div>
      <div class="setting">
        <div class="setting-label">
          <h3>Setting 2</h3>
        </div>
        <div class="setting-content">
          <div class="setting-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              recusandae animi cumque fugiat.
            </p>
          </div>
          <div class="setting-input">
            <button>Hehe</button>
          </div>
        </div>
      </div>
      <div class="setting">
        <div class="setting-label">
          <h3>Setting 3</h3>
        </div>
        <div class="setting-content">
          <div class="setting-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              recusandae animi cumque fugiat.
            </p>
          </div>
          <div class="setting-input">
            <button>Hehe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
